VAULTWARDEN_IMAGE=ghcr.io/dani-garcia/vaultwarden:latest
CONTAINER_NAME=vaultwarden
DATA_DIR=./data
DOMAIN=https://vault.example.com
TZ=Europe/Budapest
ADMIN_TOKEN=CHANGE_ME
SIGNUPS_ALLOWED=false
WEBSOCKET_ENABLED=true
PROXY_MODE=host-nginx
HOST_PORT=8080
DOCKER_PROXY_NETWORK=licensehub_frontend
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_FROM=
SMTP_FROM_NAME=Vaultwarden
SMTP_USERNAME=
SMTP_PASSWORD=
