frontend vaultwarden_https
    bind *:443 ssl crt /etc/haproxy/certs/__DOMAIN__.pem
    mode http
    acl host_vault hdr(host) -i __DOMAIN__
    use_backend vaultwarden_backend if host_vault
backend vaultwarden_backend
    mode http
    option forwardfor
    http-request set-header X-Forwarded-Proto https
    server vaultwarden 127.0.0.1:__PORT__ check
